.qp-lazy-list {
  .g-list__item_selected:hover {
    background-color: var(--g-color-base-selection-hover);
  }
}

.qp-lazy-list__sentinel {
  height: 1px;
}

.qp-lazy-list__spinner {
  height: 100%;
}
