.qp-history-row {
  height: 100%;
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 4px;

  &_compared {
    background-color: var(--g-color-base-utility-light);
  }

  &__icon {
    flex: 0 0 20px;
  }

  &__header {
    height: 20px;
  }

  &__right-column {
    overflow: hidden;
  }

  &__data {
    display: grid;
    grid-template-columns: 52px 1fr;
    grid-gap: 8px;
  }

  &__duration {
    text-align: center;
  }
}
