.qp-query-results {
    min-width: 0;

    &__toolbar {
        min-width: 0;
        padding: var(--g-spacing-2) var(--g-spacing-2) var(--g-spacing-2) var(--g-spacing-4);
        position: sticky;
        top: 0;
        z-index: 1;
        background: var(--g-color-base-background);
    }

    &__views,
    &__rows-info,
    &__actions {
        flex-shrink: 0;
    }

    &__toolbar-content {
        min-width: 0;
    }

    &__actions {
        margin-left: auto;
    }

    &__content {
        min-width: 0;
        padding-inline: var(--g-spacing-4);
    }
}
