.qp-attachments {
    &__panel {
        flex: 1;
    }

    &__tab .g-tab__title {
        display: flex;
        gap: var(--g-spacing-2)
    }

    &__tab-list {
        padding-left: var(--g-spacing-4);
        padding-right: var(--g-spacing-4);
    }
}