.qp-history-search-row {
  height: 110px;
  padding: 4px 16px;
  box-sizing: border-box;

  &__start-time {
    flex-shrink: 0;
  }

  &__monaco {
    height: 74px;
    border: 1px solid var(--g-color-line-generic-accent);
  }

  &__icon {
    flex-shrink: 0;
  }
}
