.qp-navigation-preview {
    --data-table-border-color: var(--g-color-line-generic);

    min-width: 0;

    &__error {
        display: block;
    }

    &__table {
        overflow-x: auto;
    }

    .data-table__row,
    .data-table__head-row {
        height: 40px;
    }

    .data-table__box_sticky-head_moving .data-table__head-row {
        height: auto;
    }

    .data-table__sticky_head .data-table__head-row {
        height: 40px;
    }

    .data-table__th,
    .data-table__td {
        border-width: 0 0 1px;
        vertical-align: middle;
    }
}
