.qp-tutorial-row {
  height: 100%;
  display: flex;
  align-items: center;

  &__content {
    overflow: hidden;
  }

  &__number {
    flex: 0 0 auto;
    min-width: 24px;
    white-space: nowrap;
  }
}
