.qp-file-list {
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
        min-width: 0;
    }

    &__button {
        --g-button-padding: var(--g-spacing-2);

        min-width: 0;
        justify-content: flex-start;
        text-align: start;

        &_active {
            --g-button-background-color: var(--g-color-base-selection);
            --g-button-background-color-hover: var(--g-color-base-selection-hover);
        }
    }
}
