.qp-navigation-meta {
    &__error {
        display: block;
    }

    &__group-title {
        display: block;
        margin-bottom: var(--g-spacing-2);
    }

    &__group-body {
        --g-definition-list-item-gap: var(--g-spacing-3);
        overflow-wrap: anywhere;
    }

    &__skeleton-row {
        height: 24px;
    }

    &__empty {
        height: 100%;
    }
}
