.qp-query-results-table {
    --data-table-border-color: var(--g-color-line-generic);

    min-width: 0;
    overflow-x: auto;

    .data-table__table-wrapper {
        display: inline-block;
        min-width: 100%;
        vertical-align: top;
    }

    .data-table__th,
    .data-table__td {
        max-width: 700px;
        vertical-align: top;
    }

    .data-table__td {
        position: relative;
        white-space: normal;
    }

    &__header {
        display: inline-block;
    }

    &__error {
        display: block;
    }
}
